<div id="about" ng-show="showAbout()">
<p><em>TubePlates</em> is an app to listen to releases listed on <em>Discogs</em> easily using <em>YouTube</em></p>
<p>This is how it works:</p>
<ol>
    <li>You use the app to find releases you like (by artist,label or name).</li>
    <li>Each time a playback is requested for a track, the app searches YouTube for it, tries to choose the best result and play it in your browser. If the track isn't found it is skipped and and playback for the next track in the playlist/release is requested.
    </li>
</ol>
<p>Points to consider:</p>
<ul>
    <li>The YouTube results are estimated and therefore not perfect; don't expect them to be correct at all times.</li>
    <li>It doesn't work on default browsers on mobile OSes(iOS,Android) due to restrictions in their video players but it does seem to work on the
    <a href="http://www.puffinbrowser.com/download/">Puffin browser</a> which has a free version.
    </li>
</ul>
  <a id="github-button" href="https://github.com/tubeplates/tubeplates">
    <i></i>View on GitHub
  </a>
</div>
